<!-- Copyright © Lucy Poulton 2021. All rights reserved. -->
<html lang="en">
	<head>
		<title><%= title %></title>
		<meta charset="UTF-8">
		<meta name="description" content="Hiya! I do silly computer stuff.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Lucy Poulton <lucy@poulton.xyz>">
		<link rel="stylesheet" href="https://branding.lucyy.me/lucy.css">
		<link rel="stylesheet" href="https://branding.lucyy.me/prism.css">
		<style>
			.gradient-text {
				background-color: transparent;
				background-size: 100%;
				-webkit-background-clip: text;
				-moz-background-clip: text;
				-webkit-text-fill-color: transparent;
				-moz-text-fill-color: transparent;

				background-clip: text;
				text-fill-color: transparent;
			}
		</style>
	</head>
	<body class="bg-dark">